<header class="page-header">
  <div class="row">
    <div class="small-6 columns">
      <% link_to "/index.html", :class => 'page-header__title' do %>
        <%= image_tag 'logo.jpeg', :class => 'page-header__logo' %>
        Kevin Prince
      <% end %>
    </div>
    <div class="small-6 columns">
      <nav class="page-header__nav">
        <ul class="inline-list right">
          <!-- <li><a href="#">About</a></li> -->
          <li><%= link_to('Resume', '/resume.html') %></li>
          <li><%= link_to('Photos', '/photos.html') %></li>
          <li><%= link_to('Contact', '/contact.html') %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
