.card {
  background: #fff;
  border-radius: 0.2rem;
  box-shadow: 0px 1px 1px #aaa;
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
}

.card__flush-top {
  margin-top: -1.5rem;
  margin-left: -2rem;
  margin-right: -2rem;
}
