<div class="blogpost row">

  <% if current_page.data.masthead %>
    <div class="small-12 columns">
      <div class="blogpost__masthead">
        <%= image_tag current_page.data.masthead %>
      </div>
    </div>
  <% end %>

  <div class="small-12 columns">
    <div class="blogpost__content">
      <h4>Looking for help with something?</h4>

      <hr>

      <p>Maybe I can help, I am a experienced full stack technical architect
      and web developer with over ten years experience in a wide range of
      technologies and project scales at telecoms and media companies.</p>

      <h5>What can I help with?</h5>

      <hr>

      <p><b><u>Prototyping and Proof of Concepts</u></b><br/>
        I have worked on over fifty proof of concepts and taken main to live
        beta products with customers. I can help you flesh out your idea
        in a few days or stick around to build something that fits your
        requirements.
      </p>

      <p><b><u>Developer and Team Operations</u></b><br/>
        Maybe need help getting Boxen working for your team or want to
        get the most out of GitHub, Heroku or other developer tools.
      </p>

      <p><b><u>Consultancy</u></b><br/>
        I can also provide general consultancy, code or architectural reviews
        either remotely or on-site for you and your team.
      </p>

      <p><b><u>Hackathons and other events</u></b><br/>
        Need to run a hackathon? I am an experienced hackathon organiser and
        can help you with yours anywhere in the world.
      </p>

      <hr>

      <h5>Some companies I worked with:</h5>

      <ul>
        <li>The Lab By O2 / Telefonica</li>
        <li>AT&amp;T</li>
        <li>NBC Universal</li>
        <li>Microsoft</li>
        <li>ITV</li>
        <li>IBM</li>
      </ul>


      <hr>

      <h5>What about technologies?</h5>

      <p>I am a full stack developer and I have experience with:</p>

      <ul>
        <li>Ruby (inc Rails, Sinatra and CLI tools)</li>
        <li>Other langauges include PHP, Javascript and various DSL's</li>
        <!-- I can do Drupal but I have a danger fee  -->
        <li>SQL based DB's including MySQL and Postgres</li>
        <li>"NoSQL" including Redis, Memcached and MongoDB</li>
        <!-- MongoDB aka lose everything db -->
        <li>Telecoms networks and building tools with Twilio etc</li>
        <li>Puppet, Ansible, Amazon Web Services, Heroku</li>
        <!-- aka 'THE CLOUD' tm -->
        <li>Integrating with all kinds of nice and evil APIs</li>
        <!-- Discount for nice JSON REST integrations, Surcharge for undocumented SOAP -->
      </ul>

      <hr>

      <h5>Want to get in touch</h5>

      <p>Just drop me an email hireme at kevinprince.me or tweet @kevinprince</p>

    </div>
  </div>

</div>
